.loading-container-new {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Full viewport height to center vertically */
    width: 100%; /* Full width */
  }
  